bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
.vscode/
ThreatIntelligencePlatform.sln.DotSettings.user
/ThreatIntelligencePlatform.Api/Properties/PublishProfiles
/ThreatIntelligencePlatform.Api/ThreatIntelligencePlatform.Api.csproj.user
/ThreatIntelligencePlatform.Api/.config
