go-db-service/logs/app.log
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
.vscode/
ThreatIntelligencePlatform.sln.DotSettings.user
/ThreatIntelligencePlatform.Api/Properties/PublishProfiles
/ThreatIntelligencePlatform.Api/ThreatIntelligencePlatform.Api.csproj.user
/ThreatIntelligencePlatform.Api/.config
/.$erd.drawio.bkp
/ThreatIntelligencePlatform.ProviderService/ThreatIntelligencePlatform.ProviderService.csproj.user
/ThreatIntelligencePlatform.Service.Database/ThreatIntelligencePlatform.Service.Database.csproj.user
/ThreatIntelligencePlatform.slnLaunch.user
